#workspace{
    background-color: rgb(241, 241, 241);
}
.optionsBanner {
    width: 25%;
    height: 80vh;
    float: right;
    background-color: rgb(231, 229, 229);
    border: 10px black;
    padding:15px;
    position: fixed;
    right: 0;
    border-radius: 25px;
    margin: 20px;
    margin-bottom: 50px;
}
.canvasImage {
    float: left;
}
#uploadBtn{
    background-color: #d0df00; 
    border: none;  
    font: bold;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 15px;
}
.buttons {
    text-align: center;
    margin: auto;
    display: inline-flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
#getColorBtn, #drawBtn {
    border:none;
    background-color: #d8d7d7; 
    font-size: 20px;
    padding: 10px;
}
#getColorBtn:hover, #drawBtn:hover {
    background-color: #a7a7a7; 
}
#getColorBtn:focus, #drawBtn:focus, #setTextBtn:focus {
    animation-name: changeColor;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
@keyframes changeColor {
    0% {
        background-color: #a7a7a7;
    }
    100% {
        background-color: #fffc66; 
    }
}
.settings {
    text-align: center;
    margin: auto;
    display: inline-flex;
    border-radius: 15px;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.brushSize, #uploadChanged, #setTextBtn{
    border: none;
    background-color: #d8d7d7; 
    font-size: 20px;
    padding: 10px;
}
#uploadChanged:hover, #setTextBtn:hover {
    background-color: #a7a7a7; 
}
.textSettings {
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
#userInput, #fontInput, #fontSizeInput {
    font-size: 20px;
    padding: 10px;
    border: none;
    width: 90%;
}
#fontInput:hover, #fontSizeInput:hover {
    background-color: #c2c2c2; 
}
#fontInput, #fontSizeInput {
    background-color: #f5f0f0;
}
label {
    display: inline-block;
    font-size: 20px;
    text-align: right;
    margin-right: 10px;
}
#comicTitle, #ogAuth, #translator, #source {
    border:none;
    margin-bottom:10px;
    font-size: 22px;
    width:270px;
}
.Credentials {
    display: flex;
    flex-direction: column;
}
button {
    cursor: pointer;
}
.cred-entry {
    display: flex;
    justify-content: space-between;
}